 <div class="user-details">
  <h1> My Expertise </h1>
  <p>
    Started as a freelance developer when I was just 15, I quickly grown to a highly qualified software engineer at Eleks Software, a major software development company in Ukraine. However, the job did not give me the desired challenge, so soon I launched my first startup company Kartinka.com.ua – in-image advertising platform connecting publishers and advertisers.
    Later I launched another company Synnergia Solutions – a local outsourcing agency, which later grown to another project of mine – drop2amz.com, a platform to automate orders and inventory management for Amazon sellers.
    I like keep the challenge at high level, so I recently enrolled in the UBC MDS program which is quite exciting!
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End Development</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>HTML5, SASS, CSS, JavaScript, numerous front-end frameworks and tools</p>
    </div>
    <div class="tech">
      <h2>Back-End Development</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Ruby, Python, Sidekiq, background processing, API integration, data processing and more</p>
    </div>
    <div class="tech">
      <h2>Data storage and manipulation</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>MySQL, PostgreSQL, Hadoop, Cassandra, Amazon RedShift and many more</p>
    </div>
</div>
