<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="https://theskipperapp.com/assets/logo-teal-text.png" />
  </div>
  <div class="contents-right">
    <h3>Skipper</h3>
    <ul>
      <li>CTO</li>
    </ul>
    <p>Skipper is a Social Learning Platform for Homeschoolers, Co-ops & Communities. At Skipper I'm in charge of full development cycle, from idea to release</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <br>
    <br>
    <img alt="mountains" src="https://drop2amz.com/assets/logo-dark.png" />
  </div>
  <div class="contents">
    <h3>drop2amz</h3>
    <ul>
      <li>Founder, CTO</li>
    </ul>
    <p>drop2amz is a unique all-in-one solution for full-scale drop-shipping on Amazon. Trusted by thousands of sellers worldwide, our platform continuously manages millions of products and growing</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="http://synnergia.com/logo.png" />
  </div>
  <div class="contents-right">
    <h3>Synnergia Solutions</h3>
    <ul>
      <li>Founder, CEO</li>
    </ul>
    <p>Synnergia Solutions is a local software development agency with worldwide ambitions. Since 2013 we had a number of multi-million and billion dollar companies amongst our clients and have been working on numerous successful external and internal projects</p>
  </div>
</div>